{% load static %}
<link rel="stylesheet" href="{% static 'blog/includes/blogDetail.css' %}">

    <li>
        <article class="blogPost">
            <a href="">
                <img src="{% static 'blog/images/campingVacation.jpeg' %}" alt="camping trip">
                <div class="blogs__content">
                    <h3>Camping Trip</h3>
                    <p>
                        This was an adventurous trip i had back in 2019 during the pandamic along with my friends.
                        Had lots of stories to tell and memories made. The view in the morning from the hill was 
                        simply breath-taking. You must camp atleast once in your life time.
                    </p>
                </div>
            </a>
         </article>
    </li>
