{% load static %}
<link rel="stylesheet" href="{% static 'blog/includes/blogDetail.css' %}">

    <li>
        <article class="blogPost">
            <a href="{% url 'blogDetailPage' post.slug %}">
                <img src="{% static 'blog/images/'|add:post.image %}" alt={{post.title}}>
                <div class="blogs__content">
                    <h3>{{ post.title }}</h3>
                    <p>
                        {{ post.brief_description }}
                    </p>
                </div>
            </a>
         </article>
    </li>
