{% extends 'appLayout.html' %}
{% load static %}

    {% block title %} Blogs {% endblock %}
    {% block cssFiles %} 
        <link rel="stylesheet" href="{% static 'blog/blogsPage.css' %}">
    {% endblock %}

    {% block content %}
        <section class="blogs">
            {% include 'blog/includes/header.html' %}
            <h2> All Blogs: </h2>
            <ul>
                {% for post in allPosts %}
                    {% include 'blog/includes/blogDetail.html' %}  
                {% endfor %}
            </ul> 
        </section>
    {% endblock %}    
