{% extends "appLayout.html" %}
{% load static %}
    {% block title %} Home {% endblock %}
    
    {% block cssFiles %} 
        <link rel="stylesheet" href="{% static 'blog/index.css' %}">
    {% endblock %}

    {% block content %}
        {% include 'blog/includes/header.html' %}  <!-- NEED TO KEEP THIS HEADER IN A FIXED POSITION. -->
        <div class="container">
            <section class="welcome-area">
                <!-- Welcome-Area -->
                <h1>page 0</h1>
            </section>
            <section class="about-me-area">
                <!-- About-me-Area -->
                <h1>page 1</h1>
            </section>
            <section class="skills-area"> 
                <!-- Skills-Area -->
                <h1>page 2</h1>
            </section>
            <section class="work-experience-area">
                <!-- Work-Experience-Area -->
                <h1>page 3</h1>
            </section>
            <section class="education-area">
                <!-- Education-Area -->
                <h1>page 4</h1>
            </section>
            <section class="email-area">
                <!-- Email-Area -->
                <h1>page 5</h1>
            </section>
        </div>

    {% endblock %}    
 