{% extends 'appLayout.html' %}
{% load static %}

    {% block title %} {{ post.title }} {% endblock %}
    {% block cssFiles %} 
        <link rel="stylesheet" href="{% static 'blog/singleBlogDetail.css' %}">
    {% endblock %}

    {% block content %}
        <section class="summary">
            {% include 'blog/includes/header.html' %}
            <h1> {{ post.title }} </h1>
            <article>
                <img src="{% static '/blog/images/'|add:post.image %}" alt="{{ post.title }}">
                <address> By <a href="mailto: {{post.author.email_address}}"> {{ post.author }}</a></address>
                <div>Last Updated on: {{ post.timestamp }} 
                </div>
            </article>
        </section>
        <br>
        <main>
            <p>
                {{ post.content|linebreaks }}
            </p>
        </main>
        <br>
        <div class="tags">
            Tags: 
            {% for tag in tags %}
                <span>{{ tag.caption }},</span>
            {% endfor %}
        </div>
        <br>
    {% endblock %} 